{% extends 'base.html' %}

{% block head_addition %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'general/create_form.css' %}">

    <style>
        
    </style>
{% endblock %}

{% block body_class %}{% endblock %}

{% block content %}
<div class="video-container">
    <video autoplay muted loop id="background-video">
        <source src="{% static 'general/White dust and ellumination.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
<div class="content">
    <form method="post" class="decor">
        {% csrf_token %}
        <div class="form-left-decoration"></div>
        <div class="form-right-decoration"></div>
        <div class="circle"></div>
        <div class="form-inner">
            <h3 id="create_post">Create post 
                <button id="grate" class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">#</button>

                <div class="offcanvas offcanvas-start modal_background" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                    <div class="offcanvas-header">
                        <h5 id="offcanvasWithBothOptionsLabel">{{head_instruction|safe}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="p-3">
                        <p>{{body_instruction|safe}}</p>
                    </div>
                </div>
            </h3>

            {% if name_error %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Name is required!</strong> {{name_error}}.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            <input type="text" name="name" class="background-input" placeholder="Post title" value="{{form_data.name}}">

            <div class="container">
                <textarea id="text_area" name="description" placeholder="Description...">{{form_data.description|default_if_none:""}}</textarea>
            </div>

            {% if link_error %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Sentence is required!</strong> {{link_error}}.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            <input type="text" name="link" class="background-input" placeholder="Link here" value="{{form_data.link}}">

            <input type="submit" value="Send">
        </div>
    </form>
</div>
{% endblock %}
{% block script_addition %}
{% endblock %}